@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "tailwindcss";

body {
    font-family: "Noto Sans KR", sans-serif; /* 기본 폰트를 Noto Sans KR로 설정 */
}

button {
    cursor: pointer;
}

.keep-all {
    word-break: keep-all;
    word-wrap: break-word;
}

.swiper-button-prev,
.swiper-button-next {
    transform: scale(0.3);
    color: #000;
    top: 25px;
}
.swiper-button-prev {
    left: auto;
    right: 85px;
}
.swiper-button-next {
    right: 5px;
}

.swiper-pagination {
    width: fit-content !important;
    height: fit-content !important;
    right: 34px !important;
    top: 11px !important;
    left: auto !important;
    bottom: auto !important;
}
.swiper-pagination-bullet-active {
    background: #000;
}
