@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "tailwindcss";

body {
    font-family: "Noto Sans KR", sans-serif; /* 기본 폰트를 Noto Sans KR로 설정 */
}

.keep-all {
    word-break: keep-all;
    word-wrap: break-word;
}
